---
title: >
        Espositori da terra e da banco

description: >
        Da inserire.

testata:
    prima_riga: <strong>Espositori</strong> In cartone
    seconda_riga: >

            Pogettazione e produzione di espositori per il punto vendita

immagineTestata: https://prismic-io.s3.amazonaws.com/bilca/39ab849c441dfecdb1d004ab184615ba7ea98de2_assemblaggio-001.jpg

---

<div class="row small-up-1 medium-up-1">
    <div class="columns callout">
        <h3>Espositori da terra</h3>

        <hr>

        <div class="row small-up-1 medium-up-5">
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/b403754659aeecdbbf45064c68d7df9d317bbc2e_eurasia---expo-4-vasche-disney-scontornato.jpg">
            </div>
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/a8c7494f041138e6ee4a938a2414a6d38b7ab40a_galbusera----expo-automontante-4-piani-crackers-e-biscotti.jpg">
            </div>
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/98a86fc668b824e22a9474e98356face4ab46ee4_expo-da-terra-cerotti-disney-001-scontornato.jpg">
            </div>
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/f16c4dd2e85def201b74fffeb22ec08b14340577_eurasia---expo-4-vasche-gecko-scontornato.jpg">
            </div>
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/30bfa90dfce302245beb05b727cb9549ad644ab8_bdf---expo-da-terra-nivea-visage-scontornato.jpg">
            </div>

        </div>
    </div>

    <div class="columns callout">
        <h3>Espositori da Banco</h3>

        <hr>

        <div class="row small-up-1 medium-up-5">
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/9a98e2f182d072fade4401bc56d17ec9745d6444_bdf---vassoio-multiprodotto-eucerin-dermatoclean-scontornato.jpg">
            </div>
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/7792b1cd3d9ee4c52d37b5cb6f9b6c036eeafd7e_campari---expo-da-banco-cynar-scontornato.jpg">
            </div>
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/8a6cadaa3a613fc92223f2f6c9cd39e944415ea1_bdf---expo-da-banco-herpes-patch-scontornato.jpg">
            </div>
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/c8ab93931643a08a651c98daee4e6c249603b20c_ansell---expo-da-banco-manix-scontornato.jpg">
            </div>
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/af30ce8538bfb09d0ebf118da0ce577d5335ca7c_bsn-medical---expo-kids-scontornato.jpg">
            </div>

        </div>
    </div>
    <div class="columns callout">
        <h3>Banchetti, Totem e Isole</h3>
        <hr>

        <div class="row small-up-1 medium-up-5">
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/bb245ec39d9ef92d3b8d51aa0fefe37fde6ec6db_errebi---campione-banchetto-ajax-scontornato.jpg">
            </div>
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/20a9cf36bf1188c3eb972534b27a45027e34c8a0_errebi---banchetto-ajax-002.jpg">
            </div>
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/5c8fef4bb17a40fc17404dbf7f839ad76ed82587_errebi---banchetto-soflan-e-fabuloso-2009-scontornato.jpg">
            </div>
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/c2636184c7b96afaa3d24c5ba37c6655053053d7_bdf---espositore-colonnina.jpg">
            </div>
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/552b08b2246a7d7451627c70899b81ad3e49858d_bsh---isola-banchetto--pannello-fronte-d.jpg">
            </div>

        </div>
    </div>

    <div class="columns callout">
        <h3>Vetrine e altro</h3>
        <hr>

        <div class="row small-up-1 medium-up-5">
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/771f6ed076a11093683528d7afa723c76cb26631_inchiostro---rossetto-yamamay-002-scontornato.jpg">
            </div>
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/89fe379363ba8ecfca24f60411b1f24792a29620_bdf---vetrina-solari-scontornata.jpg">
            </div>
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/93d731cad6d6926f40096780f6373da43b57c5c7_yamamay---prodotti-vetrina-scontornato.jpg">
            </div>
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/fa5db7d62954f7b8eed64e3fcbc511ca68013878_bdf---vetrina-eucerin-modeliance.jpg">
            </div>
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/bilca/f4ac5d4ff8e055331e1330cb2f109be8d1875d0f_bsh---scatola-e-cartello-i-dos-scontornato.jpg">
            </div>

        </div>
    </div>

</div>

<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>


<div class="row small-up-1 medium-up-2">
    <div class="columns">
        <h3 class="subheader">La progettazione </h3>
        <hr>

        <p>
            Il lavoro di progettazione di un espositore per la vendita di un prodotto parte dall'<strong>ascolto delle esigenze del cliente</strong>:
        </p>
        <ul>
            <li>Dimensioni del prodotto, peso e volume</li>
            <li>Quantità di prodotti da esporre</li>
            <li>Spazio da occupare nel Punto Vendita</li>
            <li>Budget a disposizione</li>
        </ul>

        <p>
            Raccoti questi dati realizziamo un <strong>prototipo</strong> ed insieme al cliente effettueremo tutte le modifiche del caso per renderlo soddisfatto.
        </p>

        <p>
            Per gli espositori a <strong>scopo pubblicitario</strong> lavoraimo fianco a fianco con il cliente al fine di otttimizzare al meglio la
            produzione dell'espositore in termini di <strong>qualità e costi</strong>.
        </p>
    </div>

    <div class="columns">
        <h3 class="subheader">Materiali utilizzati</h3>
        <hr>

        <p>
            Per i nostri prodotti utilizziamo principalmente i seguenti materiali:
        </p>
        <ul class="largo">
            <li>
                Cartone Teso e Accoppiato su supporti vari (carta ondulata , pressato , laminil, polistirolo)
            </li>
            <li>
                Plastica/plexiglass
            </li>
            <li>
                Metallo
            </li>
            <li>
                Legno
            </li>
        </ul>
    </div>

</div>

<div class="row">
    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/80d4c3aa2d2ee8a2e84f43e0d575573abe99040d_progettazione-017.jpg">
    </div>
</div>
<p></p>
<%= partial "partials/rowCallToAction" %>

<div class="row">
    <div class="columns">
        <h3 class="subheader">Le nostre lavorazioni</h3>
    </div>
</div>
<hr>
<div class="row small-up-1 medium-up-2">
    <div class="columns">
        <p>
            <strong>Stampa Offset</strong> su formati:
            <ul>
                <li>
                    35x50 cm
                </li>
                <li>
                    70x100 cm
                </li>
                <li>
                    120x160 cm
                </li>
                <li>
                    Stampa digitale (anche su grandi formati)
                </li>
            </ul>
        </p>
        <p>
            <strong>Accoppiatura e biaccoppiatura di cartone</strong>:

            <ul>
                <li>
                    Teso con Teso
                </li>
                <li>
                    Teso con cartone ondulato
                </li>
                <li>
                    Teso con Laminil
                </li>
                <li>
                    Teso con Pressato o Vegetale
                </li>
            </ul>
        </p>
        <p>
            <strong>Fustellatura</strong> (formato massimo 120 x 160 cm)
        </p>
        <p>
            <strong>Montaggio Espositori e Confezionamento prodotto</strong>
        </p>
         <p>
            <strong>Lavorazioni Speciali</strong>

            <ul>
                <li>
                    Verniciatura UV
                </li>
                <li>
                    Plastificazione lucida e opaca
                </li>
                <li>
                    Stampa su polipropilene metallizzato
                </li>
                <li>
                    Termoimpressione
                </li>
                <li>
                    Rilievo
                </li>
                <li>
                    Serigrafia
                </li>
            </ul>
        </p>
    </div>
    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/1c6b05fdadd65aba3e9872e96131a2bde699c797_assemblaggio-001.jpg">
    </div>
</div>

<div class="row">
    <div class="columns">
        <h3 class="subheader">Perchè scegliere BILCA S.r.l.</h3>
    </div>
</div>
<hr>
<div class="row small-up-1 medium-up-2">
    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/03d5e47c557b9409c9057c857f6197cbd251712c_accoppiatura-004.jpg">
    </div>
    <div class="columns">
        <p>
            <ul class="largo">
                <li>
                    <strong>Ascoltiamo</strong> le tue esigenze
                </li>
                <li>
                    Abbiamo <strong>oltre 40 di esperienza</strong>
                </li>
                <li>
                    Realizziamo materiali <strong>personalizzato</strong> sul tipo di prodotto
                </li>
                <li>
                    Vi seguiamo ad ogni passo: PROGETTAZIONE, PRODUZIONE, CONSEGNA
                </li>
                <li>
                    Siamo veloci e puntuali, sempre al miglior prezzo!
                </li>
                <li>
                    Siamo flessibili: <strong>realizziamo dal singolo pezzo alle grandi tirature</strong>
                </li>
                <li>
                    Tutte le lavorazioni avvengono internamente, <strong>nessun costo aggiuntivo per movimentazione</strong> tra una lavorazione e l'altra
                </li>
                <li>
                    Puoi stoccare il tuo materiale nei nostri magazzini
                </li>
                <li>
                    Offriamo sempre la <strong>campionatura gratuita</strong> (in bianco)
                </li>
                <li>
                    Effettuiamo lavorazioni per la grande distribuzione
                </li>
                <li>
                    Effettuiamo lavorazioni di alta qualità (per farmacie, profumerie ecc...)
                </li>
            </ul>
        </p>
    </div>
</div>
<p></p>
<%= partial "partials/rowCallToAction" %>

<hr>
<div class="row show-for-large">
    <h2 class="subheader">Oltre 100 clienti soddisfatti!</h2>
</div>
<br>
<div class="row show-for-large">
    <div class="small-12 columns">
        <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/6e8a76a4f94874a4d186ba1db1afb444c0e4c0ba_loghi-defibrillatori.png">
    </div>
</div>
<hr>

<div class="row">
    <div class="column small-12 medium-3">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/cd4a2440e59e2118f64c3d94154e83fca279c347_incollatura-a-caldo-003.jpg">
    </div>
    <div class="column">
        <h2 class="subheader">Bilca S.r.l</h2>

        <p>
            Bilca S.r.l. fonda le sue radici nel <strong>1960</strong> quando il fondatore dell'azienda si occupava di produrre astucciame in cartone come responsabile di produzione di una grossa azienda cartotecnica.
        </p>
        <p>
            L'unione di una grande competenza tecnica nel settore della cartotecnica e l'esperienza commerciale di uno dei due soci fondatori ha dato inizio a <strong>Bilca S.r.l. nel 1999</strong>!
        </p>
        <p>
            <i>Passione, innovazine e tanta voglia di scommettere sul futuro</i> sono i valori che portano Bilca S.r.l. ad essere un punto di friferimento in italia per la progettazione e la realizzazione di espositori in cartone.
        </p>
    </div>

</div>


